.projects {
  margin-bottom: 1rem;
}

.projects h1 {
  text-align: center;
  margin-bottom: 10px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.info {
  text-align: center;
}

.info a {
  color: var(--c-primary1);
  font-weight: 500;
}
