.technologies {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #090909;
}

.technologies div {
  width: calc(320px / 4);
}

.technologies img {
  width: 100%;
  object-fit: cover;
  filter: invert(1);
}

.technologies p {
  color: var(--c-gray1);
  text-align: center;
}

@media (width <= 500px) {
  .technologies div {
    width: calc(200px / 4);
  }
}

@media (width <= 330px) {
  .technologies div {
    width: calc(150px / 4);
  }
}
