@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 79px;
}

@layer components {
  .container {
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;
    @apply px-4;
  }

  .flex-container {
    @apply container flex;
  }

  .button {
    padding: 14px 36px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    @apply bg-neutral-900 text-white border border-neutral-900 transition-colors hover:bg-blue-500 hover:border-blue-500 hover:text-white;
  }

  .button-outline {
    @apply button bg-transparent text-neutral-900;
  }

  .form-control {
    position: relative;
    width: 100%;
  }

  .form-control label {
    @apply absolute -top-2.5 left-4 bg-white px-2.5 text-sm font-medium uppercase text-neutral-700;
  }

  .form-control input,
  .form-control textarea {
    @apply text-sm p-3 border border-neutral-200 rounded-[6px] focus:outline-none focus:border-neutral-900 transition-colors w-full;
  }
}
