@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;
    @apply px-4;
  }

  .flex-container {
    @apply container flex;
  }

  .button {
    padding: 14px 36px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    @apply bg-neutral-900 text-white border border-neutral-900 transition-colors hover:bg-emerald-500 hover:border-emerald-500 hover:text-white;
  }

  .button-outline {
    @apply button bg-transparent text-neutral-900;
  }
}
