.banner {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 40vw;
}

.banner h2 {
  white-space: nowrap;
  margin: 0 0 4px;
  font-size: 3.815rem;
  color: var(--c-primary1);
  transition: color 0.3s ease;
}

.banner p {
  color: var(--c-gray4);
  margin-bottom: 0.25em;
}

.banner p span {
  font-weight: 600;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  flex: 1;
  overflow: hidden;
  background: radial-gradient(
    hsla(var(--current-h), var(--current-s), 59%, 0) 0%,
    hsla(var(--current-h), var(--current-s), 39%, 1) 70%
  );
  background-color: var(--c-primary1);
  transition: background-color 0.3s ease-in-out;
  animation: morph 10s linear infinite;
  box-shadow: var(--c-primary4) 0px 7px 29px 0px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 15px;
}

.content {
  position: relative;
  flex: 2;
}

.banner button {
  padding: 14px 32px;
  letter-spacing: 0.02rem;
}

.links {
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

.links a {
  background-color: var(--c-primary4);
  color: var(--c-primary3);
  padding: 2px 10px;
  font-size: 14px;
  border-radius: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.links a:hover {
  background-color: var(--c-primary1);
  color: var(--c-gray1);
}

.colors {
  position: absolute;
  /* top: -10px; */
  bottom: -10px;
  left: 0;
  display: flex;
  gap: 4px;
}

.colors button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 0;
}

.green,
.green:hover {
  background-color: hsl(122, 39%, 49%);
}

.blue,
.blue:hover {
  background-color: hsl(199, 89%, 49%);
}

.orange,
.orange:hover {
  background-color: hsl(31, 97%, 49%);
}

.violet,
.violet:hover {
  background-color: hsl(261, 73%, 49%);
}

@media (width <= 900px) {
  .banner h2 {
    font-size: 2.441rem;
  }

  .img,
  .content {
    flex: 1;
  }
}

@media (width <= 620px) {
  .banner {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .content {
    width: 100%;
    margin-top: 2rem;
  }

  .img {
    display: none;
  }

  .links {
    justify-content: center;
  }

  .colors {
    left: 50%;
    transform: translateX(-50%);
  }

  .colors button {
    width: 12.5px;
    height: 12.5px;
  }
}

@media (width <= 450px) {
  .banner h2 {
    font-size: 2.441rem;
  }
}

@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}
